services:
  K3Progetti\JwtBundle\:
    resource: '../../src/'
    exclude:
      - '../../src/DependencyInjection/'
      - '../../src/Entity/'
      - '../../src/Tests/'
      - '../../src/Event/'
    autowire: true
    autoconfigure: true
    public: true

  K3Progetti\JwtBundle\Service\JwtService:
    arguments:
      $beforeModifiers: !tagged_iterator k3progetti.jwt.before_payload_modifier
      $afterModifiers: !tagged_iterator k3progetti.jwt.after_payload_modifier
      $overrideModifiers: !tagged_iterator k3progetti.jwt.override_payload_modifier